<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Yang's blog</title>
        {% else %}
        <title>Welcome to Yang's blog</title>
        {% endif %}
      </head>
    <body>
        <div>Yang's blog: <a href="/index">主页</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </body>
</html>