{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h2>
        电商监控系统上线
    </h2>
    <p>
        目前支持京东商城，之后会进行更多支持。
    </p>
    <p>
        {% if not current_user.is_authenticated %}
        <a class="btn btn-primary btn-large" href="{{ url_for('login') }}">进入监控</a>
        {% else %}
        <a class="btn btn-primary btn-large" href="{{ url_for('users', user_id = current_user.id) }}">进入监控</a>
        {% endif %}
    </p>
</div>
<div class="row clearfix">
    <div class="col-md-4 column">
        <h2>
            系统状态
        </h2>
        <p>
            当前监控商品数：{{item_number}}<br>
            当前用户数：{{user_number}}
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>

        </h2>
        <p>

        </p>
    </div>
    <div class="col-md-4 column">
        <h2>

        </h2>
        <p>
            <div class="github-widget" data-username="qqxx6661"></div>
            <script src="/static/js/github_user_widget_en.js"></script>
        </p>
    </div>
</div>
<br><br><br>
{% endblock %}