{% extends "base.html" %}
{% block content %}
<h1>请登录</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        用户名:<br>
        {{form.name(size=20)}}<br>
        {% for error in form.errors.name %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p>
        密码:<br>
        {{ form.password }}<br>
        {% for error in form.errors.password %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
    </p>
    <p>{{form.remember_me}} 记住用户</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}