<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - Yang's blog</title>
    {% else %}
    <title>Welcome to Yang's blog</title>
    {% endif %}
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h1>Sign Up</h1>
    <form action="/login" method="post" name="login">
       {{ form.hidden_tag() }}
       <p>Please enter your name: {{ form.user_name }}</p>
       {% for error in form.errors.user_name %}
       <p style="color:red;">[-] {{ error }}</p>
       {% endfor %}

       <p>记住我？ {{ form.remember_me }}</p>
       <p>{{ form.submit }}</p>

    </form>
    {% endblock %}
</body>
</html>